<div class="container container-fluid p-5">
  <div class="col-xs-12 px-lg-4">
    <div class="card">
      <div class="card-body p-lg-5">
        <div *ngIf="editErrorTrigger" class="m-3">
          Error: {{ editError.error.Message }}
        </div>
        <form
          (ngSubmit)="editUserData(editUser)"
          #editUser="ngForm"
          ngNativeValidate
        >
          <div class="form-floating mb-3">
            <input
              class="form-control"
              id="name"
              type="text"
              name="name"
              placeholder="Nombre(s)"
              [(ngModel)]="actualUser.name"
              required
              #name="ngModel"
              [disabled]="!editingUser"
            />
            <label for="name">Nombre(s)</label>
          </div>
          <div class="form-floating mb-3">
            <input
              class="form-control"
              id="surname"
              name="surname"
              type="text"
              [(ngModel)]="actualUser.surname"
              placeholder="Apellido(S)"
              required
              #surname="ngModel"
              [disabled]="!editingUser"
            />
            <label for="surname">Apellido(s)</label>
            <span class="help-block" *ngIf="surname.touched && !surname.valid"
              >Los apellidos son obligatorios</span
            >
          </div>
          <div class="form-floating mb-3">
            <input
              class="form-control"
              id="uniKey"
              type="number"
              minlength="7"
              maxlength="7"
              min="0000001"
              max="9999999"
              placeholder="Clave universitaria"
              required
              [value]="actualUser.uniKey"
              [disabled]="true"
            />
            <label for="uniKey">Clave universitaria</label>
          </div>
          <div class="form-floating mb-3">
            <input
              class="form-control"
              id="email"
              type="email"
              name="email"
              [value]="actualUser.email"
              placeholder="Correo"
              [disabled]="true"
            />
            <label for="email">Correo</label>
          </div>
          <div class="form-floating mb-3">
            <input
              class="form-control"
              placeholder="Rol"
              [value]="actualUser.role"
              [disabled]="true"
            />
            <label for="email">Correo</label>
          </div>
          <div class="form-group mt-2 d-flex flex-row-reverse">
            <button
              class="btn btn-success ms-3"
              type="button"
              (click)="editMode()"
            >
              {{ editingUser ? "Cancelar" : "Editar" }}
            </button>
            <button
              class="btn btn-success"
              type="submit"
              [disabled]="!editUser.valid"
              *ngIf="editingUser"
            >
              Guardar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
