<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item">
        <app-classes
          *ngFor="let currentClass of classes"
          [incomingClass]="currentClass"
          (idClassSelected)="onSelectedClass($event)"
        ></app-classes>
      </li>
    </ul>
  </div>
</div>
<div class="p-2 mt-2">
  <button
    class="btn btn-outline-primary w-100"
    *ngIf="
      classes.length < 14 &&
      this.labID !== '0' &&
      (userRole === 'ADMIN' || userRole === 'PROFESOR')
    "
    [routerLink]="['/Dashboard/', laboratory, 0]"
    routerLinkActive="active"
  >
    Añadir clase
  </button>
</div>
