<div class="container container-fluid p-3 border border-secondary">
  <div *ngIf="!existClassInArray">
    ERROR THE CLASS YOURE SEARCHING DOES NOT EXISTS
    <app-redirect-home></app-redirect-home>
  </div>
  <div *ngIf="existClassInArray">
    <div class="border border-danger">
      <h1 class="m-3 row justify-content-md-center">
        <div class="row" *ngIf="!editClass">Crear clase</div>
        <div class="row" *ngIf="editClass">
          Editando: {{ currentClass.name }}
        </div>
      </h1>
      <div class="row justify-content-md-center">
        <form
          (ngSubmit)="submitForm(editClassForm)"
          #editClassForm="ngForm"
          class="border border-primary col-md-9 row row justify-content-md-center"
        >
          <div class="row">
            <div class="row col-md-5 form-group border border-primary">
              <label for="name"
                >Nombre:
                <input
                  type="text"
                  [ngModel]="currentClass.name"
                  name="name"
                  class="form-control"
                  required
                />
              </label>
            </div>
            <div class="form-group col-md-2">
              <label for="place">Laboratorio</label>
              <select
                id="place"
                name="place"
                [ngModel]="currentClass.place"
                class="form-control form-select"
                required
              >
                <option
                  *ngFor="let lab of labs"
                  [value]="lab.id"
                  (click)="setHoursAvailable(lab.id)"
                >
                  {{ lab.name }}
                </option>
              </select>
            </div>
            <div class="form-group col-md-2">
              <label for="hour">Horas disponibles:</label>
              <select
                id="hour"
                name="hour"
                [(ngModel)]="currentClass.hour"
                class="form-control form-select"
                required
              >
                <option *ngFor="let hour of hoursAvailables" [ngValue]="hour">
                  {{ hour }}:00
                </option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-5">
              <label for="type">Tipo</label>
              <select
                id="type"
                name="type"
                [(ngModel)]="defaultType"
                class="form-control"
                required
              >
                <option *ngFor="let type of typeClass" [value]="type">
                  {{ type }}
                </option>
              </select>
            </div>
          </div>
          <div class="row mt-3 d-grid">
            <div class="col-md-3">
              El profesor:
              <button
                type="button"
                class="btn btn-primary ms-2"
                name="free"
                (click)="changeFree()"
              >
                {{ currentClass.free ? "Asistirá" : "No Asistirá" }}
              </button>
            </div>
            <div class="col-md-3">
              <button
                type="button"
                class="btn btn-primary ms-2"
                name="authorized"
                (click)="changeAuthorization()"
              >
                {{ currentClass.authorized ? "Autorizada" : "No autorizada" }}
              </button>
            </div>
            <div class="col-md-3">
              <button
                type="button"
                class="btn btn-primary ms-2"
                name="status"
                (click)="changeStatus()"
              >
                {{ currentClass.status ? "Activada" : "Desactivada" }}
              </button>
            </div>
          </div>
          <div class="row">
            <div class="form-group m-1 col-md-5">
              Dias de la clase/examen
              <div class="form-control">
                <label class="checkbox-inline" *ngFor="let item of repeats">
                  <input
                    type="checkbox"
                    (click)="addDay(item)"
                    [checked]="currentClass.repeats.includes(item)"
                  />
                  {{ item }}
                </label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col form-group">
              <label for="startDate">Fecha de inicio:</label>
              <input
                type="date"
                name="startDate"
                id="startDate"
                class="form-control"
                [(ngModel)]="auxDate"
                value="{{ auxDate }}"
                required
              />
            </div>
            <div class="form-group col">
              <label for="endDate">Fecha final:</label>
              <input
                type="date"
                name="endDate"
                id="endDate"
                class="form-control"
                ngModel
                required
              />
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-5 d-grid d-md-block">
              <button
                class="btn btn-success m-2"
                type="submit"
                [disabled]="!editClassForm.valid"
              >
                Crear
              </button>
              <button
                class="btn btn-primary m-2"
                type="button"
                (click)="clearForm()"
              >
                Limpiar
              </button>
              <button
                class="btn btn-danger m-2"
                type="button"
                (click)="redirect()"
              >
                Cancelar
              </button>
              <button
                class="btn btn-danger m-2"
                type="button"
                *ngIf="editClass"
                (click)="deleteClass()"
              >
                Eliminar
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
