<nav
  class="navbar navbar-dark navbar-expand-lg"
  style="background-color: #06304f"
  *ngIf="isLogged"
>
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="Home">
      <img
        src="https://getbootstrap.com/docs/5.2/assets/brand/bootstrap-logo.svg"
        width="30"
        height="24"
        class="d-inline-block align-text-top"
      />
      CUBO
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a
          class="nav-link active"
          aria-current="page"
          routerLink="/"
          routerLinkActive="active"
          >Laboratorios</a
        >
      </div>
      <div class="d-grid w-100 gap-2 d-md-flex justify-content-md-end">
        <button
          class="btn btn-outline-primary me-md-2"
          [routerLink]="['/User', 0]"
          routerLinkActive="active"
        >
          Mi perfil
        </button>
        <button class="btn btn-outline-danger" type="button" (click)="logOut()">
          Salir
        </button>
      </div>
    </div>
  </div>
</nav>
