<div class="row">
  <div class="col-md-12">
    <div
      *ngFor="let currentClass of classes; let indexActive = index"
      class="list-group"
    >
      <app-classes
        class="list-group-item list-group-item-action"
        (click)="classIndex = indexActive"
        [ngClass]="{ active: classIndex === indexActive }"
        [incomingClass]="currentClass"
        (idClassSelected)="onSelectedClass($event)"
      ></app-classes>
    </div>
  </div>
</div>
<div
  class="p-2 mt-2 border border-primary"
  *ngIf="
    classes.length < 14 &&
    this.labID !== '0' &&
    (userRole === 'ADMIN' || userRole === 'PROFESOR')
  "
>
  <button
    class="btn btn-outline-primary w-100"
    [routerLink]="['/Dashboard/', laboratory, 0]"
    routerLinkActive="active"
  >
    Añadir clase
  </button>
</div>
