<div class="container container-fluid">
  <div *ngIf="!existClassInArray">
    ERROR THE CLASS YOURE SEARCHING DOES NOT EXISTS
    <app-redirect-home></app-redirect-home>
  </div>
  <div *ngIf="existClassInArray">
    <div>
      <div class="row" *ngIf="!editClass">New Class</div>
      <div class="row" *ngIf="editClass">Editar Clase</div>
      <form (ngSubmit)="submitForm(editClassForm)" #editClassForm="ngForm">
        <div class="row">
          <div class="col-md-5 form-group">
            <label for="name">Nombre: </label>
            <input
              type="text"
              [ngModel]="currentClass.name"
              name="name"
              class="form-control"
              required
            />
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-5">
            <label for="place">Laboratorio</label>
            <select
              id="place"
              name="place"
              ngModel
              class="form-control"
              required
            >
              <option *ngFor="let lab of labs" [value]="lab.id">
                {{ lab.name }}
              </option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="d-grid gap-4 d-md-block">
            <button
              class="btn btn-success"
              type="submit"
              [disabled]="!editClassForm.valid"
            >
              Crear
            </button>
            <button class="btn btn-primary" type="button" (click)="clearForm()">
              Limpiar
            </button>
            <button class="btn btn-danger" type="button" (click)="redirect()">
              Cancelar
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
