<div class="container container-fluid">
  <div *ngIf="!existClassInArray">
    ERROR THE CLASS YOURE SEARCHING DOES NOT EXISTS
    <app-redirect-home></app-redirect-home>
  </div>
  <div *ngIf="existClassInArray">
    <div>
      <div class="row" *ngIf="!editClass">New Class</div>
      <div class="row" *ngIf="editClass">Editar Clase</div>
      <form (ngSubmit)="submitForm(editClassForm)" #editClassForm="ngForm">
        <div class="row">
          <div class="col-md-5 form-group">
            <label for="name"
              >Nombre:
              <input
                type="text"
                [ngModel]="currentClass.name"
                name="name"
                class="form-control"
                required
              />
            </label>
          </div>
          <div class="form-group col-md-5">
            <label for="place">Laboratorio</label>
            <select
              id="place"
              name="place"
              [ngModel]="currentClass.place"
              class="form-control"
              required
            >
              <option
                *ngFor="let lab of labs"
                [value]="lab.id"
                (click)="setHoursAvailable(lab.id)"
              >
                {{ lab.name }}
              </option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-5">
            <label for="type">Tipo</label>
            <select id="type" name="type" ngModel class="form-control" required>
              <option *ngFor="let type of typeClass" [value]="type">
                {{ type }}
              </option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <label for="hour">Hora</label>
            <select id="hour" name="hour" ngModel class="form-control" required>
              <option *ngFor="let hour of hoursAvailables" [value]="hour">
                {{ hour }}:00
              </option>
            </select>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-3">
            <!-- <label for="free">Habrá clase:</label> -->
            <button
              type="button"
              class="btn btn-primary ms-2"
              name="free"
              (click)="changeFree()"
            >
              {{ currentClass.free ? "Hay clase" : "No Hay clase" }}
            </button>
          </div>
          <div class="col-md-3">
            <button
              type="button"
              class="btn btn-primary ms-2"
              name="authorized"
              (click)="changeAuthorization()"
            >
              {{ currentClass.authorized ? "Autorizada" : "No autorizada" }}
            </button>
          </div>
          <div class="col-md-3">
            <button
              type="button"
              class="btn btn-primary ms-2"
              name="status"
              (click)="changeStatus()"
            >
              {{ currentClass.status ? "Activada" : "Desactivada" }}
            </button>
          </div>
        </div>
        <div class="row">
          <div class="form-group">
            <div class="form-control">
              <label class="checkbox-inline" *ngFor="let item of repeats">
                <input
                  type="checkbox"
                  (click)="addDay(item)"
                  [checked]="currentClass.repeats.includes(item)"
                />
                {{ item }}
              </label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5 form-group">
            <label for="startDate">Fecha de inicio:</label>
            <input
              type="date"
              name="startDate"
              id="startDate"
              class="form-control"
              ngModel
              required
            />
          </div>
          <div class="form-group col-md-5">
            <label for="endDate">Fecha final:</label>
            <input
              type="date"
              name="endDate"
              id="endDate"
              class="form-control"
              ngModel
              required
            />
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-5 d-grid gap-4 d-md-block">
            <button
              class="btn btn-success"
              type="submit"
              [disabled]="!editClassForm.valid"
            >
              Crear
            </button>
            <button class="btn btn-primary" type="button" (click)="clearForm()">
              Limpiar
            </button>
            <button class="btn btn-danger" type="button" (click)="redirect()">
              Cancelar
            </button>
          </div>
          <div class="col-md-5 d-flex flex-row-reverse mt-3">
            <button
              class="btn btn-danger"
              type="button"
              *ngIf="editClass"
              (click)="deleteClass()"
            >
              Eliminar
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
