<div class="row border border-primary d-md-flex justify-content-md-center">
  <a (click)="onClick()" class="row col-md-9 border border-danger">
    <div class="col">{{ incomingClass.hour }}:00</div>
    <div class="col">
      {{ incomingClass.name }}
    </div>
    <div class="col">
      {{ incomingClass.type }}
    </div>
    <div class="col">
      {{ incomingClass.teacherName }}
    </div>
  </a>
  <div class="col col-md-2">
    <button
      type="button"
      class="btn btn-primary w-100"
      [routerLink]="['../Dashboard', incomingClass.place, incomingClass.id]"
      routerLinkActive="active"
    >
      Editar
    </button>
  </div>
</div>
