<div class="row d-md-flex justify-content-md-center">
  <a (click)="onClick()" class="row col-md-9">
    <div class="col-md-2">{{ incomingClass.hour }}:00</div>
    <div class="col">
      {{ incomingClass.name }}
    </div>
    <div class="col">
      {{ incomingClass.type === "CLASS" ? "Clase" : "Examen" }}
    </div>
    <div class="col">
      {{ incomingClass.teacher.name }}
    </div>
  </a>
  <div class="col-md-3">
    <button
      type="button"
      class="btn btn-primary"
      [routerLink]="['/Dashboard', incomingClass.place, incomingClass.id]"
      routerLinkActive="active"
      *ngIf="
        userRole === 'ADMIN' ||
        (userRole === 'PROFESOR' &&
          incomingClass.teacher._id === localStorageID)
      "
    >
      Editar
    </button>
  </div>
</div>
